<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        <title>{% block title %}Blog{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {{ include('navigations/header/index.html.twig') }}

        <div class="site-main-container">
            {% block body %}{% endblock %}
        </div>

        {{ include('navigations/footer/index.html.twig') }}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
